In [1]:
# 반환값이 있는 함수 만들기
def get_area(width, height):
    area = (width * height) / 2
    return area

In [2]:
tri = get_area(3, 4)
print(tri) # 6

6.0

In [3]:
# 매개변수의 기본값
my_name = "다빈치"

def say_hello(name='게스트'):
    print(f'{name}님 안녕하세요')

say_hello(my_name) # 다빈치님 안녕하세요
say_hello() # 게스트님 안녕하세요

다빈치님 안녕하세요
게스트님 안녕하세요

In [5]:
# def say_hello(name='게스트', age): # 오류 발생
#     print(f'{age}살이 되신 {name}님 안녕하세요')

def say_hello(age, name='게스트'): # 이렇게 만들어야 합니다.
    print(f'{age}살이 되신 {name}님 안녕하세요')

In [6]:
# 매개변수명 지정하기
my_name = "다빈치"

def say_hello(age, name='게스트', school='태양초'): 
    print(f'{school}에 다니는 {age}살이 되신 {name}님 안녕하세요')

say_hello(10, school="식초") # 식초에 다니는 10살이 되신 게스트님 안녕하세요

식초에 다니는 10살이 되신 게스트님 안녕하세요

In [7]:
say_hello(10, "식초") # 태양초에 다니는 10살이 되신 식초님 안녕하세요

태양초에 다니는 10살이 되신 식초님 안녕하세요

In [9]:
# 입력값의 개수를 모를 때
def add_all(*nums): # 변수 앞에 별표(*)를 붙여주면 변수안에 들어있는 것을 꺼내는 역할을 합니다.
    result = 0
    for n in nums:
        result += n
    return result

print(add_all(1, 2, 3, 4, 5)) # 15

15

In [10]:
def my_func(*ar):
    print(type(ar))

my_func(1, 2, 3, 4, 5) # <class 'tuple'>

<class 'tuple'>

In [11]:
# 키워드가 있는 매개변수
def my_func(**kwargs):
    print(type(kwargs))

my_func(a=1, b=2, c=3) # <class 'dict'>

<class 'dict'>

In [13]:
def quiz(**qst):
    for k, v in qst.items():
        rst = input(f'{k} 의 뜻은 무엇인가요?')
        if rst == v:
            print('맞았습니다.')
        else:
            print('틀렸습니다.')

quiz(apple='사과', banana='바나나', peach='복숭아')

apple 의 뜻은 무엇인가요?몰라
틀렸습니다.
banana 의 뜻은 무엇인가요?바나나
맞았습니다.
peach 의 뜻은 무엇인가요?복숭아
맞았습니다.

In [14]:
# 함수를 변수에 넣기
def get_double(num):
    return num * 2

In [15]:
a = get_double(3)
print(f'{a=}') # 6

a=6

In [16]:
# 재귀함수
def factorial(n): # 팩토리얼 5! = 5*4*3*2*1
    if n == 1:
        return 1 
    return n * factorial(n - 1)

print(factorial(5))

120

In [17]:
# 리턴값은 여러개를 만들 수 있다
def get_double(*nums):
    my_num = list(nums)
    for i in range(len(my_num)):
        my_num[i] *= 2
    return my_num 

a, b, c = get_double(1, 2, 3)
print(a, b, c) # 2, 4, 6

2 4 6